/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.bigupContainer-selected {
	box-shadow: inset 0 0 0 1px #1e1e1e;
	padding: 0.2em;
}

.bigupContainer-empty {
	display: block;
	box-shadow: inset 0 0 0 1px #9e9e9e;
	padding: 0.2em;
	width: 100%;
}
