/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.bigupContainer {
	position: relative;
	max-width: 100%;
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;
}

.bigupContainer .bigupContainer {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {

	.bigupContainer {
		width: 100%;
	}
}

@media (min-width: 1024px) {

	.bigupContainer {
		width: 984px;
	}
}

@media (min-width: 1280px) {

	.bigupContainer {
		width: 1160px;
	}
}

@media (min-width: 1536px) {

	.bigupContainer {
		width: 1280px;
	}
}

.bigupContainer-full {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
}

.bigupContainer-narrow {
	width: 100%;
}

@media (min-width: 768px) {

	.bigupContainer-narrow {
		width: 768px;
	}
}

@media (min-width: 1536px) {

	.bigupContainer-narrow {
		width: 1024px;
	}
}
