/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.toecapsContainer {
	position: relative;
	max-width: 100%;
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.toecapsContainer {
		width: 100%;
	}
}
@media (min-width: 1024px) {
	.toecapsContainer {
		width: 984px;
	}
}
@media (min-width: 1280px) {
	.toecapsContainer {
		width: 1160px;
	}
}
@media (min-width: 1536px) {
	.toecapsContainer {
		width: 1280px;
	}
}

.toecapsContainer-full {
	width: 100%;
}
.toecapsContainer-narrow {
	width: 100%;
}

@media (min-width: 768px) {
	.toecapsContainer-narrow {
		width: 768px;
	}
}
@media (min-width: 1536px) {
	.toecapsContainer-narrow {
		width: 1024px;
	}
}